{% extends 'main/base.html' %}
{% block content %}

<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome"/>
    <input type="submit" value="Buscas"/>
</form>

<a href="{% url 'pessoa.novo' %}">Novo</a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de nascimento</th>
            <th>Ativa</th>
            <th>Ações</th>
        </tr>
    </thead>
        <tbody>
            {% for pessoa in object_list %}
            <tr>
                <td>{{ pessoa.nome_completo }}</td>
                <td>{{ pessoa.data_nascimento|date:"d/m/y" }}</td>
                <td>
                    {% if pessoa.ativa %}
                    Sim
                    {% else %}
                    Não
                    {% endif %}
                </td>
                <td>
                   <a href="{% url 'pessoa.editar' pessoa.pk %}">Editar</a>
                   <a href="{% url 'pessoa.remover' pessoa.pk %}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% endblock content %}